html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Open Sans", sans-serif;
}

.page-header,
.page-footer {
	text-align: center;
	background: #efefef;
	width: 100%;
	box-sizing: border-box;
}
.page-header {
	padding: 15px;
}

.page-header h1 {
	margin: 0;
	padding: 15px 0 0;
}

.page-footer {
	padding: 20px 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
}

.wrapper {
	padding: 40px 15px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.form-item {
	position: relative;
}

textarea {
	width: 100%;
	display: block;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #ccc;
	font-size: 18px;
	text-align: left;
	padding: 15px;
	box-sizing: border-box;
}

#btn-clear {
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	margin: 0;
	padding: 10px 20px;
}

.select-box {
	position: relative;
	margin-top: 15px;
	display: inline-block;
}

.select-box::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 45px;
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
	pointer-events: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.select-box:hover::before {
	color: rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0.2);
}

.select-box select {
	background-color: #eaeaea;
	color: #000;
	padding: 12px 15px;
	width: 200px;
	border: none;
	font-size: 20px;
	/* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	border-radius: 4px;
}

.select-box select option {
	padding: 30px;
}

.btn-group {
	text-align: center;
}

.btn {
	color: #000;
	background: #efefef;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 10px 100px;
	font-size: 20px;
	margin: 15px 0;
	display: inline-block;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 18px;
}

.btn.success,
.btn:hover,
.btn:focus {
	outline: none;
	box-shadow: none;
	background: #4caf50;
	color: #fff;
}

#alert {
	background: #4caf50;
	color: #fff;
	width: 100%;
	text-align: left;
	padding: 20px 15px;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	box-sizing: border-box;
}

#alert-close {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: auto;
	right: 15px;
	z-index: 9;
	color: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
}

#alert-close i {
	line-height: 28px;
	font-size: 20px;
}

#alert-close:hover {
	background: #fff;
	color: #7d7d7d;
}

@media (min-width: 600px) {
	.page-header {
		padding: 50px 15px;
	}

	.wrapper {
		width: 70%;
	}

	textarea {
		height: 100px;
	}

	#alert {
		width: 320px;
		left: auto;
		right: 30px;
		top: 30px;
		border-radius: 4px;
	}
}
